// 公用mixin定义
@mixin center() {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
}
@mixin Ycenter() {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
@mixin Xcenter(){
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}